# Binaries
**/.bin/
**/.bin-int/

# @Note: When assets were inside the bin folder we used !/bin/assets

# Visual Studio files and folder 
**/.vs/
**/.project-files/

# Raddbg
**/.raddbg/**

# Rider files and folder
.idea/

# imgui
imgui.ini